/** Import a reset style sheet to reset different browser defaults */
@import url("reset.css");

/* General Formatting */
body {
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: repeating-linear-gradient(
        30deg,
        white,
        white 10px,
        #df7580 10px,
        #df7580 20px
    );
}

/* Hero Section */
/* header {
    border: blue 3px solid;
} */
.welcome {
    font-family: Bangers, sans-serif;
    /* border: yellow 2px solid; */
}

/* Navbar Section */
.navbar {
    font-family: Bangers, san-serif;
    /* border: green 2px solid; */
}
.navbar-brand {
    display: flex;
    justify-content: space-evenly;
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
}
.navbar-item {
    color: #df7580;
    text-decoration: none;
}

/* Main Section */
main {
    font-family: Bangers, san-serif;
    /* border: cyan 3px solid; */
}
.service-list, .about-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.disclaimer {
    font-size: xx-small;
}
.divider {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, white, white, #dc3545, white, white);
}

/* Footer Section*/
/* footer {
    border: blue 3px solid;
} */
.footer-text {
    font-family: "Dancing Script";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .footer-social .logo, .social-buttons {
    border: blue 1px solid;
} */
.footer-social, .footer-trademark {
    display: flex;
    font-family: Bangers, san-serif;
}
.social-buttons a {
    color: #dc3545;
}
.social-buttons a:hover {
    color: gold;
}

/** Using media queries allows for responsive design */
@media (max-width: 500px) {
    .footer-social {
        display: block;
    }
}
