/** Import a reset style sheet to reset different browser defaults */
@import url("reset.css");

/* General Formatting */
body {
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: repeating-linear-gradient(
        30deg,
        white,
        white 10px,
        #df7580 10px,
        #df7580 20px
    );
    /* border: blue 3px solid; */
}

/* Hero Section */
.welcome {
    font-family: Bangers, sans-serif;
}

/* Navbar Section */
.navbar {
    font-family: Bangers, san-serif;
}
.navbar-brand {
    display: flex;
    justify-content: space-evenly;
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
}
.navbar-item {
    color: #df7580;
    text-decoration: none;
}

/* Main Section */
main {
    font-family: Bangers, san-serif;
}
.row {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin-left: 5%;
    /* border: yellow, 1px, solid; */
}
.row img {
    margin: 5px 20%;
    width: 200px;
    height: 120px;
}
.disclaimer {
    font-size: x-small;
}
.divider {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, white, white, #dc3545, white, white);
}

/* Footer Section*/
.footer-text {
    font-family: "Dancing Script";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-social {
    display: flex;
}
.footer-social, .footer-trademark {
    font-family: Bangers, san-serif;
}
.social-buttons a {
    color: #dc3545;
}
.social-buttons a:hover {
    color: gold;
}

/** Using media queries allows for responsive design */
@media (max-width: 500px) {
    .footer-social {
        display: block;
    }
}
