/** Import a reset style sheet to reset different browser defaults */
@import url("reset.css");

/* General Formatting */
body {
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: repeating-linear-gradient(
        30deg,
        white,
        white 10px,
        #df7580 10px,
        #df7580 20px
    );
}

/* Hero Section */
#welcome { font-family: Bangers, sans-serif; }
.welcome-chicken { overflow: hidden; }

/* Navbar Section */
.navbar { font-family: Bangers, san-serif; }
#chickenhead { object-fit: contain; }
.navbar-brand {
    display: flex;
    justify-content: space-evenly;
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
}
.navbar-item {
    color: #df7580;
    text-decoration: none;
}

/* Footer Section*/
.footer-text {
    font-family: "Dancing Script";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    overflow: hidden;
}
.footer-social { font-family: Bangers, san-serif; }
.social-buttons a { color: #dc3545; }
.social-buttons a:hover { color: gold; }

/** Using media queries allows for responsive design */
@media (max-width: 575px) {
    .footer-text {
        transform: translate(-50%, -340%);
    }
    .footer-social {
        display: block;
        text-align: center;
    }
}
